{{#if_logged_in}}
  <div class="account-summary-container">
    <div class="account-summary">
	    <img class="account-summary-avatar avatar size32" src="{{profile_image_url}}" alt="{{name}}">
	    <div class="account-summary-content">
  	    <strong class="account-summary-full-name">{{name}}</strong>
  	    <small class="account-summary-metadata">View my profile page</small>
	    </div>
    </div>
  </div>
  <ul class="stats">
    <li class="stat-tweets"><strong>{{statuses_count}}</strong> tweets</li>
    <li class="stat-following"><strong>{{friends_count}}</strong> following</li>
    <li class="stat-followers"><strong>{{followers_count}}</strong> followers</li>
  </ul>
  <div class="status-container" id="status-container"></div>
{{else}}
  <div class="app-description">
    Tweet your brunch is a simple twitter client built with <a href="http://brunch.io/">Brunch</a> &amp; <a href="https://github.com/paulmillr/brunch-with-chaplin">Brunch with Chaplin</a>.
  </div>
{{/if_logged_in}}
